.label {
    -fx-text-fill: #222;
}

.menu-item .label {
    -fx-text-fill: #222;
}

.tab-label {
    -fx-text-fill: #222;
}

.button {
    -fx-text-fill: #222;
}

.scroll-pane {
    -fx-background: #eee;
    -fx-background-color:transparent;
}

#rectangle, #triangle {
    -fx-stroke-type: inside;
    -fx-stroke-width: 2;
    -fx-stroke-dash-array: 12 2 4 2;
    -fx-stroke-dash-offset: 6;
    -fx-stroke-line-cap: butt;
}